body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  overscroll-behavior-x: contain; /* https://stackoverflow.com/questions/50616221/prevent-page-navigation-on-horizontal-scroll https://www.chromestatus.com/feature/5734614437986304 */
}

.canvas {
  display: flex;
  flex-direction: column;
}

.transformer {
  margin: 20px auto;
  display: inline-block;
  width: min-content;
  padding: 10px;
  border: 1px solid lightgray;
  border-radius: 10px;
}

body {
  padding: 0;
  margin: 0;
}

.canvas {
  height: calc(100vh - 350px);
  width: 100vw;
}

/* handle bubble */
.semi-circle-drop:after {
  content: "";
  width: 32px;
  height: 16px;
  background: transparent;
  position: absolute;
  z-index: -100;
}

.semi-circle-drop-top:after {
  border-top-left-radius: 16px; /* 16px (bubble height) */
  border-top-right-radius: 16px; /* 16px (bubble height) */
  top: -14px; /* 14px = 16px (bubble height) - 2px (half handle content) */
  left: -14px; /* 14px = 32px (bubble width) / 2 - 2px (half handle content) */
}

.semi-circle-drop-bottom:after {
  border-bottom-left-radius: 16px; /* 16px (bubble height) */
  border-bottom-right-radius: 16px; /* 16px (bubble height) */
  top: 2px; /* 2px (half handle content) */
  left: -14px; /* 14px = 32px (bubble width) / 2 - 2px (half handle content) */
}

.semi-circle-drop:hover:after {
  background: rgba(208, 208, 208, 0.2);
}

/* tooltip interfering with bubble on handle */
.handle-tooltip .bp3-overlay-content {
  pointer-events: none;
}

/* edge selected styles */
.react-flow__edge.selected .react-flow__edge-path {
  stroke-width: 0.5em;
}

/* handle issues with sidebar overlay stealing focus */
.info-sidebar .bp3-overlay {
  left: unset;
  width: 360px;
}

.edge-menu-container * {
  pointer-events: all;
}

.edge-menu-unselected {
  background: #ddd;
  border-radius: 50%;
  cursor: pointer;
  font-size: 12px;
  height: 20px;
  line-height: 1;
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edge-menu-index {
  display: flex;
  background: #fff;
  border-radius: 10px;
}

.edge-menu-index-item {
  background: #fff;
  border-radius: 50%;
  margin-right: 0.1em;
  margin-left: 0.1em;
}

.edge-menu-index-item:hover {
  background: #ddd;
}

.edge-menu-index-item:first-child {
  margin-right: 0.1em;
  margin-left: 0;
}

.edge-menu-index-item:last-child {
  margin-right: 0;
  margin-left: 0.1em;
}

.edge-menu-index-close {
  background: #ddd;
}

.react-flow__edges {
  z-index: 20 !important;
}
